<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.company.CircularDependency.A" name="aref">
        <property name="b">
            <ref bean="bref"/>
        </property>
    </bean>
    <bean class="com.company.CircularDependency.B" name="bref">
        <property name="a">
            <ref bean="aref"/>
        </property>
    </bean>
</beans>